form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

button {
    margin: 20px 15px 0px 0px;
}

.holds-the-iframe {
    background:url(../../../../assets/img/loading.gif) center center no-repeat;
}

.mapa{
    display: block;
    margin-left:-15px;
    
  
}
